:root {
    --color1: rgb(53, 79, 82);
    --color2: rgb(166, 58, 80);
    --color3: rgb(195, 162, 158);
    --color4: rgb(169, 197, 160);
    --color5: rgb(140, 188, 185);
    --color6: rgb(137, 105, 120);
}