html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
        Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 18px;
}

:root {
    --color1: rgb(53, 79, 82);
    --color2: rgb(166, 58, 80);
    --color3: rgb(195, 162, 158);
    --color4: rgb(169, 197, 160);
    --color5: rgb(140, 188, 185);
    --color6: rgb(137, 105, 120);
}

* {
    box-sizing: border-box;
}

a {
    color: #0070f3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}